body {
    background-color: rgb(250, 250, 250);
    /* background-image: linear-gradient(
        to right,
        rgb(240, 240, 240),
        rgb(220, 220, 218)
    ); */
    font-family: "Handwriting", sans-serif;
}
.container {
    margin-top: 30px;
}

.col-md-4 img {
    width: 15%;
    /* box-shadow: 1px 1px; */
}
.info {
    font-size: large;
}
.col-md-6 img {
    max-width: 70%;
    max-height: 60%;
}
#head {
    margin-top: 60px;
}

.btn a {
    color: rgb(43, 138, 246);
}
.navbar-nav {
    background-color: rgb(250, 250, 250);
}

/* h3 {
    padding: 10px;
} */
#viewbl {
    width: 100%;
    height: 100%;
    padding: 20px;
}
li a {
    color: rgb(45, 44, 44);
    font-weight: bold;
}
/* utility */

.navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    border-radius: 8px;
}

.nav-item {
    width: 35%;
    height: 50px;
    flex: auto;
    margin: 1rem;
    background-color: rgb(250, 250, 250);
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
}

/* extension */
html.sr .nav-item {
    visibility: hidden;
}
/* .card {
    padding: 30px;
} */
/* .contact {
    margin: auto;
    max-width: 50%;
} */

/* about */
.aboutimg {
    max-width: 20px;
    max-height: 15px;
}

/* nav */

/* .topnav {
    overflow: hidden;
    background-color: rgb(250, 250, 250);
} */

.wrap {
    margin-bottom: 20px;
}
.comment {
    margin: 10px 20px;

    border-radius: 10px;
    color: rgb(61, 63, 65);
}
.message {
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    color: black;
    padding: 10px;
}
.github_link {
    background-color: rgb(195, 195, 255);
    padding: 5px;
}
.github_link:hover {
    color: rgb(140, 247, 247);
}
.dropdown-menu {
    background-color: rgb(250, 250, 250);
}
.dropdown-menu a {
    color: rgb(23, 22, 22);
}
.about {
    max-width: fit-content;
}
.para {
    padding: 10px;
}
.name {
    font-family: monospace;
    font-size: larger;
    color: rgb(146, 146, 232);
    font-style: initial;
}

p {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
        0 0 3px rgba(255, 255, 255, 0.3);
}
.header-text {
    color: #383636;
    font-size: 28px;
    text-transform: uppercase;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.animation {
    height: 50px;
    overflow: hidden;
    margin-left: 1rem;
}

.animation > div > div {
    padding: 5px;
    height: 2.81rem;
    margin-bottom: 2.81rem;
    display: inline-block;
}

.animation div:first-child {
    animation: text-animation 15s infinite;
}

.first div {
    color: #699eff;
}
.second div {
    color: #cd921e;
}
.third div {
    color: #1a3988;
}
@keyframes text-animation {
    0% {
        margin-top: 0;
    }
    10% {
        margin-top: 0;
    }
    20% {
        margin-top: -5.62rem;
    }
    30% {
        margin-top: -5.62rem;
    }
    40% {
        margin-top: -11.24rem;
    }
    60% {
        margin-top: -11.24rem;
    }
    70% {
        margin-top: -5.62rem;
    }
    80% {
        margin-top: 0;
    }
    90% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }
}
